#search-text-input {
  padding: 3px 140px;
  line-height: 1.6;
}

.btn-primary {
  padding: 4px 40px;
}

.btn-success {
  padding: 4px 40px;
}

p1 {
  font-size: 40px;
  color: black;
  font-weight: bold;
}
.top {
  font-size: 20px;
  font-weight: lighter;
  color: black;
}

#weatherDescription {
  text-transform: capitalize;
}

#currentTemp {
  font-size: 70px;
  color: black;
  vertical-align: middle;
}
.units {
  font-size: 20px;
  vertical-align: top;
}

#celsius-link.active {
  text-decoration: none;
  color: black;
  cursor: default;
}
#fahrenheit-link.active {
  text-decoration: none;
  color: black;
  cursor: default;
}
.active hover {
  text-decoration: none;
}

img {
  text-align: left;
}

ul {
  text-align: right;
  position: relative;
  list-style-type: none;
  color: black;
  font-size: 18px;
  font-weight: lighter;
  line-height: 1.8em;
  font: Arial, sans-serif;
}

div.weatherapp {
  border-radius: 10px;
  background: linear-gradient(#f6ebe6, #aee1f9);
  margin: 20px;
  padding-bottom: 2px;
  line-height: 1.2;
  box-shadow: 5px 5px 5px 5px lightblue;
}

body {
  width: 60%;
  height: 45%;
  display: block;
  margin: 0 auto;
  padding: -50px 50px;
}

small.footer {
  text-align: center;
  display: block;
  font-size: 16px;
}
