#search-text-input {
  padding: 3px 120px;
  line-height: 1.6;
}

.btn-primary {
  padding: 4px 20px;
}

.btn-success {
  padding: 4px 20px;
}

p1 {
  font-size: 40px;
  color: black;
  font-weight: bold;
}
.top {
  font-size: 20px;
  font-weight: lighter;
  color: black;
}

#currentTemp {
  font-size: 70px;
  color: black;
  vertical-align: middle;
}
.currentUnit {
  font-size: 20px;
  color: black;
  vertical-align: top;
}

img {
  text-align: left;
}

ul {
  text-align: right;
  position: relative;
  list-style-type: none;
  color: black;
  font-size: 18px;
  font-weight: lighter;
  line-height: 1.8em;
  font: Arial, sans-serif;
}

div.weatherapp {
  border-radius: 10px;
  background: linear-gradient(#f6ebe6, #aee1f9);
  margin: 20px;
  padding-bottom: 2px;
  line-height: 1.2;
}

body {
  width: 55%;
  height: 50%;
  display: block;
  margin: 0 auto;
  padding: -50px 50px;
}

small.footer {
  text-align: center;
  display: block;
  font-size: 14px;
}
